{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau défi - creative hub
{% endblock %}

{% block body %}
	<div class="section">
		<div class="container-medium">
			<div class="text-center mb-12">
				<h1 class="text-4xl md:text-5xl text-gray-900 mb-4">
					Créer un nouveau défi
				</h1>
				<p class="text-xl text-gray-600">
					partagez votre creativité et inspirez la communauté</p>
			</div>

			{#  formulaire #}
			<div class="card-padded max-w-3xl mx-auto">
				{{ form_start(form, {
                    'attr': {
                        'class': 'space-y-6',
                        'enctype': 'multipart/form-data'
                    }
            }) }}
				<div>
					{# titre #}

					{{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.title,) }}
					{{ form_errors(form.title) }}
				</div>
				<div>
					{# description #}

					{{ form_label(form.description, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.description, ) }}
					{{ form_errors(form.description) }}
				</div>
				<div>
					{# categorie #}

					{{ form_label(form.category, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.category, ) }}
					{{ form_errors(form.category) }}
				</div>

				<div>
					{# deadline #}

					{{ form_label(form.deadline, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.deadline,) }}
					{{ form_errors(form.deadline) }}
					<p class="text-sm text-gray-500 mt-1">laissez ce champ vide si vous ne souhaitez pas définir de date limite</p>
				</div>
				<div>
					{# media #}

					{{ form_label(form.files, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.files,) }}
					{{ form_errors(form.files) }}
					<p class="text-sm text-gray-500 mt-1">type accepté : Jpeg, PNG, GIF, WEBP, SVG, AVIF  Taille maximale : 5 Mo</p>
				</div>
				{{ form_rest(form) }}
				{# bouton #}
				<div class="flex felx-col sm:flex-row gap-4 pt-4">
					<button type="submit" class="btn-primary-lg flex-1 flex items-center justify-center space-x-2">
						<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24"><path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"/></svg>
						<span>publier le défi</span>
					</button>
					<a href="{{ path('app_challenge_index') }}" class="btn-secondary text-center">annuler</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
